
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
	color: #323232;
	border: none;
}


body {
	background-image: url(../imagens/back.png);
	background-size: cover;
	
}


a {
	font-size: .8rem;
	font-weight: bold;
	
}

a:hover {
	color: #00ffff;
}


/* conteiner da lista */

#list-container {
	background-color: #ffbf00;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px;
	margin-top: 10vh;
	border-radius: 10px;
	text-align: center;
    -webkit-box-shadow: 12px 12px 4px 0px rgba(64, 69, 57, 0.75);
    -moz-box-shadow:    12px 12px 4px 0px rgba(64, 69, 57, 0.75);
    box-shadow:         12px 12px 4px 0px rgba(64, 69, 57, 0.75);

}

h1 {
	color: #8a2be2;
	font-family: cursive;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #21abcd;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}



